name: Build & Deploy Doxygen Docs

on:
  push:
    branches: [ main ] 
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Install Doxygen
        run: sudo apt-get update && sudo apt-get install -y doxygen
        
      - name: Generate Doxygen Docs
        run: doxygen Doxyfile
        
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          # Рядок 22 або біля нього
          github_token: ${{ secrets.GITHUB_TOKEN }} 
          publish_dir: ./docs/html 
          publish_branch: gh-pages
          force_orphan: true 
          cname: # Залиште порожнім, це нормально